<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.5.min.css"/>
  </head>
  <body>
    <div class="row1"></div>
    <h1>WEB322 APP</h1>

    <nav>
      <div class="row2">
        <button><a href="/home">Home</a></button>
        <button><a href="/products">Products</a></button>
        <button><a href="/demos">Demos</a></button>
        <button><a href="/categories">Categories</a></button>
      </div>
    </nav>
    <div class="row3">
      <article>
        <h2>Welcome to my webpage,</h2>
        <p>
          Hey! this is KOMALPREET KAUR, pursuing computer Programming course in SENECA COLLEGE. I'm enrolled into this course as I will learn basics of programming which will help me further in my dream towards becoming a software developer and this will be first step in my career.</p>
        <h1>UPDATES COMING SOON</h1>
        <p>WORKING FOR MY DREAM</p>
      </article>
    </div>
    <footer>
      <div class="row4">
        <blockquote><h3>© 2022 - Komalpreet Kaur</h3></blockquote>
      </div>
    </footer>
  </body>
</html>